.description-page {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-description {
    display: flex;
}
.description-list {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
}
.desc-text {
    background-color: #FFFFFF;
    column-gap: 24px;
    width: calc((100% - 24px) / 2);
}

.headlines {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.description-headlines {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.description-icon {
    align-items: center;
    justify-content: center;
    position: relative;
    width: 264px;
    height: 112px;
    flex-shrink: 0;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8E8F99;
    background: #F4F4FD;
}

@media screen and (max-width: 767px) {
    .description-icon {
        display: none;
    }
}
    

.description-list-icon {
    position: absolute;
    top: 24px;
    left: 100px;
}

