/* MOBILE */

.photo-list {
    padding-top: 96px;
    padding-bottom: 96px;
}

.overlay {
    display: none;
}

.portfolio-list-img-wrapper {
    position: relative;
    overflow: hidden;
}

img .portfolio-list-img-wrapper {
    display: block;
    max-width: 100%;
}


.list-item:hover .overlay,
.list-item:focus .overlay {
    transform: translateY(0%);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #F4F4FD;
    background-color: #4D5AE5;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.portfolio {
    margin-bottom: 72px;
}

.application {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    text-align: left;
}

.portfolio-list-item {
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: center;
    justify-content: center;
}

.list-item {
    width: 288px;
    transition-property: box-shadow;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-item:hover {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-list-item-block {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.type-app {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
.list-item {
    width: 356px;
}
.portfolio-list-item {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
}
}
 
@media screen and (min-width: 1158px) {
.list-item {
    width: 360px;
    }

.portfolio-list-item {
    column-gap: 24px;
    row-gap: 48px;
    }
.overlay {
    display: block;
    }

    .list-item {
    background-color: #FFFFFF;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
}

/*  
.photo-list {
    background-color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 120px;
}
.portfolio-container-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.position {
    color: #434455;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    margin-top: 0;
}

.portfolio-list-img-wrapper {
    position: relative;
    overflow: hidden;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0 auto;
    flex-shrink: 0;
    background: #4D5AE5;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.list-item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);

}
.list-item:hover .overlay {
    transform: translateY(0);
    
}
.list-item {
    background-color: #FFFFFF;
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.portfolio-list-item-block {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;

}
.portfolio-list-item{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}
.portfolio {
    color:#2E2F42;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.application {
    color :#2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 8px
}
.type-app {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
*/